.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}














// .wrapper-index {
//   /* min-height: 100vh;*/
//   width: 100%;
//   margin: 0 auto;
//   padding: 10px 5px;
//   a:hover {
//     text-decoration: none;
//   }

// .index-search-result {
//   height: calc(100vh - 70px);
//   display: grid;
//   grid-template-columns: 1fr 15% 10%;
//   grid-template-rows: 30% 6% 1fr 10% 10%;

// }





// .index-search-photo {
//   grid-area: photo;
//   // grid-column: 1 / 2;
//   // grid-row: 1 / 2;

// }

// .index-search-name {
//   grid-area: name;
//   // grid-column: 2 / 3;
//   // grid-row: 1 / 2;

// }
// .index-search-description {

// }

// .index-search-address {

// }

// .index-search-price {

// }

//   #map {

//     box-shadow: 0 0 10px rgba(0,0,0,0.3);
//     height: 0vh;
//     width: 0%;

//     position: sticky !important; /* !important to override Gmaps inline CSS */
//     top: 0 !important;
//   }
// }
//   .index-search {
//     // grid-row-gap: 10px;
//     display: subgrid;
//     // display: flex;
//     // flex-direction: column;
//     .index-search-result {
//       position: relative;
//       background-color: white;
//       color: blue;
//       height: 230px;
//       // max-width: 800px;
//       margin-bottom: 20px;
//       padding: 0px 0px;
//       box-shadow: 0 0 10px rgba(0,0,0,0.3);
//       border-radius: 3px;
//       justify-items: stretch;
//       align-items: stretch;

//       display: grid;
//       grid-column-gap: 16px;
//       grid-template-columns: 50% 50%;
//       grid-template-rows: 30% 6% 1fr 15%;

//       &:hover {
//         background-color: $light-gray;

//       }

//       .result-info {
//         z-index: 2;
//         color: white;
//         text-shadow: 1px 1px 5px black;
//         padding-left: 5px;

//       }
//       .result-title {
//         align-self: center;
//         padding-top: 0.3rem;
//         font-size: 1.5rem;
//         grid-area: title;
//         font-weight: bold;

//       }
//       .result-image {
//         display: block;
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         z-index: 1;
//         opacity: 0.8;
//       }


//       .result-description {
//         align-self: start;
//         grid-area: description;
//         padding-top: 15px;
//         padding-bottom: 15px;
//         padding-right: 15px;
//         font-size: 1.15rem;
//         a {
//           padding-bottom: 0.3rem;
//         }
//       }
//       .result-address {
//         grid-area: address;
//         justify-self: stretch;
//         font-size: 1.3rem;
//         padding-bottom: 10px;
//         .normal-text {
//           font-weight: lighter;
//         }
//       }

//       .results-price {
//         grid-area: price;
//         font-size: 1.3rem;
//       }
//     }
//   }
// }

// @media (min-width: 992px) {
//   html {
//     font-size: 16px;
//   }
//   .wrapper-index {
//     height: calc(100vh - 86px);
//     width: 100%;
//     margin: 0 auto;
//     padding: 16px 0px 16px 16px;
//     display: grid;
//     grid-column-gap: 10px;
//     grid-template-columns: 8fr 5fr;
//     #map {
//       box-shadow: 0 0 10px rgba(0,0,0,0.3);
//       height: calc(100vh - 86px);
//       width: 100%;
//       flex: 0 0 450px;
//       position: sticky !important; /* !important to override Gmaps inline CSS */
//       top: 0 !important;
//     }
//     .index-search {
//       overflow: auto;
//       .index-search-result {
//         grid-template-columns: 3fr 3fr 15% 20%;
//         grid-template-rows: 30% 6% 1fr 15%;
//         grid-template-areas:
//         "image title title price"
//         "image stars stars stars"
//         "image description description description"
//         "image address address address";

//         .result-image {
//           display: block !important;
//           grid-area: image;
//           background-size: cover;
//           background-position: center center;
//           border-radius: 3px;
//           width: 100%;
//           height: 100%;
//         }

//         .result-info {
//           color: blue;
//           text-shadow: none;
//         }
//         .results-price {
//           grid-area: price;
//           padding: 20px;
//         }
//       }
//     }
//   }

// }
