.card {
  margin-bottom: 5px;
  margin-top: 5px;

.card-horizontal {
    color: black;
    font-family: Open Sans;
    text-decoration: none;
    display: flex;
    margin-left: 15px;
    flex-direction: row;
    width: 60%;
    height: 50%;
    border: 1px solid black;
    border-radius: 4px;
    &:hover {

  }
 }
  .card-horizontal__imgage {
    max-width: 100%;
    display: flex;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .card-horizonal__body {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 15px 20px;
    p:hover {
      text-decoration: none;
     }
  }

  .card-text {
      margin: 16px 16px 12.5px;
      p:hover {
      text-decoration: none;
     }
    }

  .card-title {
    margin: 16px 16px 12.5px;
  }

  .card-price {
    margin: 16px 16px 12.5px;
  }

}
