.banner-content {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: rgba(200, 54, 54, 0.5);
  background-repeat: no-repeat;
  margin: 0;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content h1 {
  font-size: 75px;
  color: white;
}

