<div class="footer">
  <div class="footer-icons">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-links">
    <ul>
      <li>Discover</li>
      <li><a href="#">Show me more</a></li>
      <li><a href="#">Rent a game</a></li>
      <li><a href="#">Rent your games</a></li>
    </ul>
    <ul>
      <li>Game4Rent</li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Contact us </a></li>
      <li><a href="#">Game4Rent©2018</a></li>
    </ul>
  </div>
</div>
