<div class="banner">
  <div class="banner-content" style="background-image:  url(https://images.pexels.com/photos/278912/pexels-photo-278912.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
    <h1><span id="banner-typed-text"></span></h1>

  </div>
</div>


<%= cl_image_tag("hx2cdnry9i1vxq3kn4if", width: 400, height: 300, crop: :fill) %>
