<div class="banner">
  <div class="banner-content" style="background-image:  url(https://images.pexels.com/photos/278912/pexels-photo-278912.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
  </div>
</div>


